<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EIV.OData.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EIV.OData.Service.Properties.Settings>
            <setting name="webServiceURL" serializeAs="String">
                <value>http://localhost:8080/odata/appexample.svc/</value>
            </setting>
        </EIV.OData.Service.Properties.Settings>
    </applicationSettings>
</configuration>